
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <a href="https://media.tenor.com/images/8605d3decf263f34091fead530a22127/tenor.gif" target="_blank">GOODBYE</a>
</body>

