
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <a href="https://media.tenor.com/images/1170597818a37a7c6e3e1d4baeb6e2eb/tenor.gif" target="_blank">HELLO</a>
</body>

